.is-active {
  background-color: crimson;
  color: white !important;
  border-radius: 25px;
}
.inactive {
  background-color: white !important;
  color: blue !important;
}
.checkout-btn {
  background-color: gray;
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
  color: white;
}
